# Supabase Configuration
VITE_SUPABASE_URL=https://bonxvzzmozahvnxsojwl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJvbnh2enptb3phaHZueHNvandsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0NzMxMTQsImV4cCI6MjEwMDA0OTExNH0.hGsOZ8dDBsX1bdgPnYfmzsWVbLpZ9NSCGctkifbc5XA
